*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ 
    background: #6a7e8d8a;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.section{ 
    height: 500px;
    width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.col{ 
   background-color: #fff;
   width: 100%;
   border-radius: 4px;
   padding: 5px;
   height: 50px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.box{ 
   display: inline-block !important;
   padding: 0 5px;
}

.first{ 
    border-right: 3px solid #40576d33;
}

input[type=number]{ 
    outline: none;
    width: 50px;
    color: #131c35;
    font-size: 18px;
    padding: 10px 0px;
    margin-left: 10px;
}

.second{ 
    border-right: 2px solid #40576d33;
}

button{ 
   border: none; 
   color: #131c35;
   font-size: 20px;
   font-weight: 300;
   background: transparent;
   padding: 10px 16px;
   border-radius: 3px;
   cursor: pointer;
   user-select: none;
}

button:hover{ 
    background: #40576d1a;
}

button:active{ 
    background: #73b1e333;
    color: #5271ff;
}

button.selected {
    background: #5271ff;
    color: #ffffff;
}

.third{ 
    border-right: 2px solid #40576d33;
}

.third button:focus{ 
    background: #73b1e333;
    color: #5271ff;
}

input[type=color]{ 
    width: 35px;
    outline: none;
    border: none;
    background: none;
}

textarea{ 
    width: 100%;
   
    border-radius: 3px;
    outline: none;
    border: none;
    resize: vertical;
    padding: 20px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .section {
        width: 90%;
        height: auto;
    }

    .col {
        height: auto;
        padding: 10px;
    }

    .box {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    input[type=number] {
        width: 100%;
        margin: 0;
    }

    button {
        width: 100%;
        padding: 10px;
    }

    textarea {
        height: 300px;
    }
}

@media (max-width: 768px) {
    .section {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .col {
        height: auto;
        padding: 10px;
    }

    .box {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    input[type=number] {
        width: 100%;
        margin: 0;
    }

    button {
        width: 100%;
        padding: 10px;
    }

    textarea {
        height: 250px;
    }
}

@media (max-width: 480px) {
    .section {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .col {
        height: auto;
        padding: 10px;
    }

    .box {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    input[type=number] {
        width: 100%;
        margin: 0;
    }

    button {
        width: 100%;
        padding: 10px;
    }

    textarea {
        height: 200px;
    }
}
